        </main>
        <footer class="container">
            <hr>
            <img src="/assets/images/me.jpg" alt="Tyler King">
            <div>
                <h3>Tyler King</h3>
                <p>I'm a self-taught, seasoned, versitile developer from Newfoundland.</p>
                <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener" class="button filled">Github</a>
                <a href="/assets/files/cv.pdf" target="_blank" class="button">CV</a>
            </div>
        </footer>
    </body>
</html>
