<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="350"
	height="350" viewBox="0 0 350 350" xml:space="preserve" id="theme-switch">
	<desc>Created with Fabric.js 1.7.22</desc>
	<defs>
	</defs>
	<g id="icon"
		style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
		transform="translate(-1.9444444444444287 -1.9444444444444287) scale(3.89 3.89)">
		<circle cx="45" cy="45" r="43"
			style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
			transform="  matrix(1 0 0 1 0 0) " />
		<circle cx="45" cy="45" r="43"
			style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
			transform="  matrix(1 0 0 1 0 0) " />
		<path
			d="M 45 90 c -12.02 0 -23.321 -4.681 -31.82 -13.181 C 4.681 68.32 0 57.02 0 45 c 0 -12.02 4.681 -23.321 13.18 -31.82 C 21.679 4.681 32.98 0 45 0 c 12.02 0 23.32 4.681 31.819 13.18 C 85.319 21.679 90 32.98 90 45 c 0 12.02 -4.681 23.32 -13.181 31.819 l 0 0 l 0 0 C 68.32 85.319 57.02 90 45 90 z M 45 4 C 34.048 4 23.752 8.265 16.008 16.008 C 8.265 23.752 4 34.048 4 45 c 0 10.951 4.265 21.247 12.008 28.991 C 23.752 81.735 34.048 86 45 86 c 10.951 0 21.247 -4.265 28.991 -12.009 l 0 0 C 81.735 66.247 86 55.951 86 45 c 0 -10.952 -4.265 -21.248 -12.009 -28.992 C 66.247 8.265 55.951 4 45 4 z"
			style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
			transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
		<path
			d="M 14.594 75.406 c -16.793 -16.793 -16.793 -44.019 0 -60.811 s 44.019 -16.793 60.811 0 L 14.594 75.406 z"
			style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
			transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
	</g>
</svg>
