---
layout: default
---

  {{ content }}

  {% assign posts = site.posts %}
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <h3>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <span><time>{{ post.date | date: date_format }}</time></span>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>